services:
  seed:
    # Usa la etapa builder para tener prisma/tsx disponibles y ejecutar el seed
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    command: ["sh", "-c", "npx prisma db push && npm run db:seed"]
    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
    volumes:
      - dbdata:/app/prisma
    restart: "no"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: tienda-uaemex
    environment:
      - NODE_ENV=production
      - PORT=8080
      - DATABASE_URL=file:/app/prisma/dev.db
    depends_on:
      seed:
        condition: service_completed_successfully
    ports:
      - "8080:8080"
    volumes:
      # Persistimos y exponemos la base de datos SQLite para que Prisma la encuentre y puedas inspeccionarla fuera del contenedor
      - dbdata:/app/prisma
    restart: unless-stopped

  studio:
    # Servicio opcional para abrir Prisma Studio en http://localhost:5555
    build:
      context: .
      dockerfile: Dockerfile
      target: builder
    command: ["npx", "prisma", "studio", "--schema", "prisma/schema.prisma", "--hostname", "0.0.0.0", "--port", "5555"]
    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
    volumes:
      - dbdata:/app/prisma
    ports:
      - "5555:5555"
    restart: unless-stopped

volumes:
  dbdata:
